---
- name: Include distro specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - '{{ ansible_os_family }}.yml'

- name: Install Python
  package:
    name: '{{ python_packages }}'
    state: present
  become: true

- name: Check pyenv global command
  set_fact:
    pyenv_command: 'pyenv global system {{ python37_version }} {{ python36_version }} {{ python35_version }}'
  when: ansible_distribution_version >= '18.04'

- name: Install Python via pyenv
  environment:
    PYENV_ROOT: /opt/pyenv
    PATH: '/opt/pyenv/bin:{{ ansible_env.PATH }}'
    PYTHON34_VERSION: '{{ python34_version }}'
    PYTHON35_VERSION: '{{ python35_version }}'
    PYTHON36_VERSION: '{{ python36_version }}'
    PYTHON37_VERSION: '{{ python37_version }}'
  block:
    - name: 'Install pyenv {{ pyenv_version }}'
      git:
        repo: https://github.com/pyenv/pyenv.git
        dest: /opt/pyenv
        version: '{{ pyenv_version }}'
    - name: 'Install Python {{ python34_version }}'
      command: pyenv install -s "$PYTHON34_VERSION"
      when: ansible_distribution_version < '18.04'
    - name: 'Install Python {{ python35_version }}'
      command: pyenv install -s "$PYTHON35_VERSION"
    - name: 'Install Python {{ python36_version }}'
      command: pyenv install -s "$PYTHON36_VERSION"
    - name: 'Install Python {{ python37_version }}'
      command: pyenv install -s "$PYTHON37_VERSION"
    - name: Set pyenv global
      command: '{{ pyenv_command }}'
  become: true

- name: Set python 3.6 as default python
  block:
    - name: Registering python 2.7 as an alternative
      command: alternatives --install /usr/bin/python python /usr/bin/python2.7 10
    - name: Registering python 3.4 as an alternative
      command: alternatives --install /usr/bin/python python /usr/bin/python3.4 20
    - name: Registering python 3.6 as an alternative
      command: alternatives --install /usr/bin/python python /usr/bin/python3.6 30
  when: ansible_distribution == "RedHat"
  become: true
