---
- name: Include distro specific variables
  include_vars: "{{item}}"
  with_first_found:
    - '{{ ansible_os_family }}.yml'

- name: Install Python
  package:
    name: '{{ python_packages }}'
    state: present
  become: true

- name: Install Python via pyenv
  environment:
    PYENV_ROOT: /opt/pyenv
    PATH: '/opt/pyenv/bin:{{ansible_env.PATH}}'
    PYTHON34_VERSION: '{{python34_version}}'
    PYTHON35_VERSION: '{{python35_version}}'
    PYTHON36_VERSION: '{{python36_version}}'
  block:
    - name: 'Install pyenv {{pyenv_version}}'
      git:
        repo: https://github.com/pyenv/pyenv.git
        dest: /opt/pyenv
        version: '{{pyenv_version}}'
    - name: 'Install Python {{python34_version}}'
      command: pyenv install -s "$PYTHON34_VERSION"
      when: ansible_distribution_version != '18.04'
    - name: 'Install Python {{python35_version}}'
      command: pyenv install -s "$PYTHON35_VERSION"
    - name: 'Install Python {{python36_version}}'
      command: pyenv install -s "$PYTHON36_VERSION"
    - name: Set pyenv global - py34
      command: pyenv global system "$PYTHON34_VERSION"
      when: ansible_distribution_version != '18.04'
    - name: Set pyenv global - py35 and py36
      command: pyenv global system "$PYTHON36_VERSION" "$PYTHON35_VERSION"
  become: true
