---
- name: Include distro specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - '{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml'
    - '{{ ansible_distribution }}.yml'
    - '{{ ansible_os_family }}.yml'

- name: Install Python
  become: true
  ansible.builtin.package:
    name: '{{ python_packages }}'
    state: present

- name: Install virtualenv via pip on EL9 (broken RPM deps)
  become: true
  ansible.builtin.pip:
    name: virtualenv
    state: present
    executable: pip3
  when:
    - ansible_distribution == 'CentOS' and ansible_distribution_major_version | int >= 9

- name: Set Python version on Ubuntu >= 22.04 or CentOS 9
  ansible.builtin.set_fact:
    pyenv_cmd: "{{ python_versions | join(' ') }}"
  when:
    - (ansible_distribution == 'Ubuntu' and ansible_distribution_version >= '22.04') or
      (ansible_distribution == 'CentOS' and ansible_distribution_major_version | int >= 9)

- name: Install Python 3.x versions via pyenv
  become: true
  environment:
    PYENV_ROOT: /opt/pyenv
    PATH: '/opt/pyenv/bin:{{ ansible_env.PATH }}'
    PYTHON38_VERSION: '{{ python38_version }}'
    PYTHON39_VERSION: '{{ python39_version }}'
    PYTHON310_VERSION: '{{ python310_version }}'
    PYTHON311_VERSION: '{{ python311_version }}'
    PYTHON312_VERSION: '{{ python312_version }}'
  block:
    - name: 'Install pyenv {{ pyenv_version }}'
      ansible.builtin.git:
        repo: https://github.com/pyenv/pyenv.git
        dest: /opt/pyenv
        version: '{{ pyenv_version }}'
    - name: 'Install Python {{ pyenv_cmd }}'
      ansible.builtin.command: 'pyenv install -s {{ item }}'
      loop: '{{ python_versions }}'
      register: pyenv_install_result
      changed_when: "'already installed' not in pyenv_install_result.stdout"
      tags:
        - molecule-idempotence-notest
    - name: 'Install Python {{ python310_version }}'
      ansible.builtin.command: pyenv install -s {{ python310_version }}
      when:
        - (ansible_distribution == 'Ubuntu' and ansible_distribution_version >= '22.04') or
          (ansible_distribution == 'CentOS' and ansible_distribution_major_version | int >= 9)
      register: pyenv310_result
      changed_when: "'already installed' not in pyenv310_result.stdout"
      tags:
        - molecule-idempotence-notest
    - name: 'Install Python {{ python311_version }}'
      ansible.builtin.command: pyenv install -s {{ python311_version }}
      when:
        - (ansible_distribution == 'Ubuntu' and ansible_distribution_version >= '22.04') or
          (ansible_distribution == 'CentOS' and ansible_distribution_major_version | int >= 9)
      register: pyenv311_result
      changed_when: "'already installed' not in pyenv311_result.stdout"
      tags:
        - molecule-idempotence-notest
    - name: 'Set the required python 3.x versions using pyenv on Ubuntu'
      ansible.builtin.command: 'pyenv global system {{ pyenv_cmd }}'
      when:
        - ansible_facts['distribution'] == 'Ubuntu'
        - ansible_facts['distribution_version'] is version('22.04', '>=')
      register: pyenv_global_ubuntu_result
      changed_when: false
      tags:
        - molecule-idempotence-notest
    - name: 'Set the required python 3.x versions using pyenv on CentOS'
      ansible.builtin.command: 'pyenv global {{ pyenv_cmd }}'
      when:
        - ansible_facts['distribution'] == 'CentOS'
        - ansible_facts['distribution_major_version'] | int >= 9
      register: pyenv_global_centos_result
      changed_when: false
      tags:
        - molecule-idempotence-notest
